$white: #fff;
$whiteHover: #aaa;
$navDarkGrey: #222;
$mainBackground: #333;
$evenBox: #153243;
$oddBox: #284b63;
$shadow: linear-gradient(#153142d9, #153243d9);
$lightShadow: linear-gradient(#000000bc, #000000bc);