@media (min-width: 1200px) {
  .nav {
    &__desktop {
      &-logo {
        grid-row: 1/4;
        margin: 6em auto;
      }
    }
  }
}

@media (min-height: 556px) {
  .nav {
    &__desktop {
      &-logo {
        grid-row: 1/3;
        margin: 6em auto;
      }
    }
  }
}