@media (min-width: 768px) {
  body {
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(11, 1fr);
    height: 100vh;
    grid-gap: 0;
  }

  .nav {
    z-index: 10;
    grid-column: 1/4;
    grid-row: 1/12;
    padding: 0;
    &__mobile {
      display: none;
    }

    &__desktop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(9, 1fr);
      background-color: #222;

      &-logo {
        grid-column: 1/3;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-family: f.$heading;
        font-size: 0.6rem;
        transform: rotate(-90deg) scale(2);
        cursor: pointer;
        transition: color 0.2s;
        &:hover {
          color: c.$whiteHover;
        }
      }

      &-link {
        grid-column: 1/3;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        &:hover .nav__link {
          right: -300px;
        }

        &:hover i {
          color: c.$whiteHover;
        }

        i {
          font-size: 3.2rem;
          padding: 0.4em 0;
          transition: color 0.2s;
        }

        .nav__link {
          position: absolute;
          right: 500px;
          bottom: 0;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          height: 100%;
          width: 300px;
          padding: 0 2em;
          background-color: c.$navDarkGrey;
          font-size: 2rem;
          transition: right 0.3s ease-out;
          z-index: -5;
          overflow: hidden;

          a {
            padding: 1em;
            transition: color 0.2s;
            width: 100%;
            text-align: right;

            &:hover {
              color: c.$whiteHover;
            }
          }

          &::before {
            content: '';
            position: absolute;
            width: 80%;
            height: 1px;
            background-color: c.$white;
            right: 2em;
            bottom: 20%;
            border: 1px solid transparent;
            border-radius: 10px;
            transform: scale(0);
            transform-origin: left;
            opacity: 0;
            transition: transform 0.3s 0.2s, opacity 0.6s 0.2s;
          }

          &::after {
            content: '';
            position: absolute;
            width: 80%;
            height: 1px;
            background-color: c.$white;
            right: 2em;
            top: 20%;
            border: 1px solid transparent;
            border-radius: 10px;
            transform: scale(0);
            transform-origin: right;
            opacity: 0;
            transition: transform 0.3s 0.2s, opacity 0.6s 0.2s;
          }
        }

        &:hover .nav__link::before,
        &:hover .nav__link::after {
          transform: scale(1);
          opacity: 0.7;
        }
      }
    }
  }

  main {
    grid-row: 1 / 14;
    grid-column: 4/25;
    display: grid;
    grid-gap: 0;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(14, 1fr);
  }

  .hero {
    grid-row: 1/5;
    grid-column: 1/21;
    @include m.lightBackground('../../../dist/img/desktop-hero.jpg');
    font-family: f.$heading;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    &__content {
      display: flex;
      flex-direction: column;
      &-quote {
        margin-bottom: .5em;
        &-author {
          align-self: flex-end;
        }
      }
    }

  }

  .boxes {
    display: none;
  }
}

@media (max-height: 552px) {
  .nav {
    &__desktop {
      &-logo {
        grid-row: 1/4;
        font-size: 0.6rem;
        transform: rotate(0) scale(1.5);
        text-align: center;
      }
    }
  }

  .boxes {
    margin-top: 3em;
  }

  .hero {
    grid-row: 1/6;
    @include m.lightBackground('../../../dist/img/desktop-hero.jpg');
    font-size: 1.4rem;
  }
}
